swagger: '2.0'
info:
  version: "0.0.1"
  title: Account API
host: api.paul.com
schemes:
  - https
basePath: /v1
produces:
  - application/vnd.api+json
  - application/json


paths:

  /accounts:

    post:
      summary: Create account
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Account creation request
          in: body
          schema:
            $ref: "#/definitions/AccountCreation"

      responses:
        201:
          description: Account creation response
          schema:
            $ref: "#/definitions/AccountCreationResponse"


    get:
      summary: List accounts
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000
        - name: filter[organisation_id]
          in: query
          description: Filter by organisation id
          required: false
          type: array
          items:
            type: string
            format: uuid
          collectionFormat: csv
        - name: filter[bank_id_code]
          in: query
          description: Filter by type of bank id e.g. "GBDSC"
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[bank_id]
          in: query
          description: Filter by bank id e.g. sort code or bic
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[account_number]
          in: query
          description: Filter by account number
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[country]
          in: query
          description: Filter by country e.g. FR,GB
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[customer_id]
          in: query
          description: Filter by customer_id
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv
        - name: filter[iban]
          in: query
          description: Filter by IBAN
          required: false
          type: array
          items:
            type: string
          collectionFormat: csv

      responses:
        200:
          description: List of account details
          schema:
            $ref: "#/definitions/AccountDetailsListResponse"


  /accounts/{id}:

    get:
      summary: Fetch account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Account details
          schema:
            $ref: "#/definitions/AccountDetailsResponse"

    delete:
      summary: Delete account
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Account Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Account deleted


  /bankids:

    post:
      summary: Create bank id
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: BankId creation request
          in: body
          schema:
            $ref: "#/definitions/BankIdCreation"

      responses:
        201:
          description: BankId creation response
          schema:
            $ref: "#/definitions/BankIdCreationResponse"

    get:
      summary: List bankIds
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of bankId details
          schema:
            $ref: "#/definitions/BankIdDetailsListResponse"

  /bankids/{id}:

    get:
      summary: Fetch bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bank Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: BankId details
          schema:
            $ref: "#/definitions/BankIdDetailsResponse"

    delete:
      summary: Delete bankId
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: BankId Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: BankId deleted

  /bics:

    post:
      summary: Create BIC
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: Bic creation request
          in: body
          schema:
            $ref: "#/definitions/BicCreation"

      responses:
        201:
          description: Bic creation response
          schema:
            $ref: "#/definitions/BicCreationResponse"

    get:
      summary: List bics
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of bic details
          schema:
            $ref: "#/definitions/BicDetailsListResponse"

  /bics/{id}:

    get:
      summary: Fetch Bic
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: Bic details
          schema:
            $ref: "#/definitions/BicDetailsResponse"

    delete:
      summary: Delete BIC
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: Bic Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: Bic deleted


  /configurations:

    post:
      summary: Create configuration
      tags:
       - Accounts
      consumes:
        - application/vnd.api+json
        - application/json
      parameters:
        - name: AccountConfiguration creation request
          in: body
          schema:
            $ref: "#/definitions/AccountConfigurationCreation"

      responses:
        201:
          description: AccountConfiguration creation response
          schema:
            $ref: "#/definitions/AccountConfigurationCreationResponse"

    get:
      summary: List configurations
      tags:
        - Accounts
      parameters:
        - name: page[number]
          in: query
          description: Which page to select
          required: false
          type: integer
          minimum: 0
        - name: page[size]
          in: query
          description: Number of items to select
          required: false
          type: integer
          minimum: 0
          maximum: 1000

      responses:
        200:
          description: List of configuration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsListResponse"

  /configurations/{id}:

    get:
      summary: Fetch AccountConfiguration
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
      responses:
        200:
          description: AccountConfiguration details
          schema:
            $ref: "#/definitions/AccountConfigurationDetailsResponse"

    delete:
      summary: Delete config
      tags:
        - Accounts
      parameters:
        - name: id
          in: path
          description: AccountConfiguration Id
          required: true
          type: string
          format: uuid
        - name: version
          in: query
          description: Version
          required: true
          type: integer
          minimum: 0
      responses:
        204:
          description: AccountConfiguration deleted

definitions:

  Account:
    type: object
    required:
      - id
      - organisation_id
      - attributes
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        $ref: "#/definitions/AccountAttributes"

  AccountAttributes:
    type: object
    required:
      - country
    properties:
      country:
        type: string
        pattern: ^[A-Z]{2}$
      base_currency:
        type: string
        pattern: ^[A-Z]{3}$
      bank_id:
        type: string
        pattern: ^[A-Z0-9]{0,16}$
      bank_id_code:
        type: string
        pattern: ^[A-Z]{0,16}$
      account_number:
        type: string
        pattern: ^[A-Z0-9]{0,64}$
      customer_id:
        type: string
        pattern: ^[a-zA-Z0-9-$@., ]{0,256}$
      iban:
        type: string
        pattern: ^[A-Z]{2}[0-9]{2}[A-Z0-9]{0,64}$
      bic:
        type: string
        pattern: ^([A-Z]{6}[A-Z0-9]{2}|[A-Z]{6}[A-Z0-9]{5})$

  AccountCreation:
    type: object
    properties:
      data:
        $ref: '#/definitions/Account'

  AccountCreationResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/Account'
      links:
        $ref: '#/definitions/Links'

  AccountDetailsResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/Account'
      links:
        $ref: '#/definitions/Links'

  AccountDetailsListResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Account'
      links:
        $ref: '#/definitions/Links'

  BankId:
    type: object
    required:
      - id
      - organisation_id
      - attributes
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        $ref: "#/definitions/BankIdAttributes"

  BankIdAttributes:
    type: object
    required:
      - country
      - bank_id
      - bank_id_code
    properties:
      country:
        type: string
        pattern: ^[A-Z]{2}$
      bank_id:
        type: string
        pattern: ^[A-Z0-9]{0,16}$
      bank_id_code:
        type: string
        pattern: ^[A-Z]{0,16}$

  BankIdCreation:
    type: object
    properties:
      data:
        $ref: '#/definitions/BankId'

  BankIdCreationResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/BankId'
      links:
        $ref: '#/definitions/Links'

  BankIdDetailsResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/BankId'
      links:
        $ref: '#/definitions/Links'

  BankIdDetailsListResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/BankId'
      links:
        $ref: '#/definitions/Links'
        
  Bic:
    type: object
    required:
      - id
      - organisation_id
      - attributes
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        $ref: "#/definitions/BicAttributes"

  BicAttributes:
    type: object
    required:
      - bic
    properties:
      bic:
        type: string
        pattern: ^([A-Z]{6}[A-Z0-9]{2}|[A-Z]{6}[A-Z0-9]{5})$

  BicCreation:
    type: object
    properties:
      data:
        $ref: '#/definitions/Bic'

  BicCreationResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/Bic'
      links:
        $ref: '#/definitions/Links'

  BicDetailsResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/Bic'
      links:
        $ref: '#/definitions/Links'

  BicDetailsListResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Bic'
      links:
        $ref: '#/definitions/Links'
        
  AccountConfiguration:
    type: object
    required:
      - id
      - organisation_id
      - attributes
    properties:
      type:
        type: string
        pattern: ^[A-Za-z]*$
      id:
        type: string
        format: uuid
      version:
        type: integer
        minimum: 0
      organisation_id:
        type: string
        format: uuid
      attributes:
        $ref: "#/definitions/AccountConfigurationAttributes"

  AccountConfigurationAttributes:
    type: object
    properties:
      account_generation_enabled:
        type: boolean

  AccountConfigurationCreation:
    type: object
    properties:
      data:
        $ref: '#/definitions/AccountConfiguration'

  AccountConfigurationCreationResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/AccountConfiguration'
      links:
        $ref: '#/definitions/Links'

  AccountConfigurationDetailsResponse:
    type: object
    properties:
      data:
        $ref: '#/definitions/AccountConfiguration'
      links:
        $ref: '#/definitions/Links'

  AccountConfigurationDetailsListResponse:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/AccountConfiguration'
      links:
        $ref: '#/definitions/Links'        